<% javascript 'calendar_month' %>
<% stylesheet 'style_month' %>

<div id="wrapper" class="month">
  <div id="performances-list">
    <div class="header box">
      <h1 class="title-1">Movies</h1>
    </div>
    <div class="results framed-box">
      <ul>
      </ul>
    </div>
  </div> <!-- performances-list -->

  <div id="panel">
    <div id="navigation" class="header">
      <div class="date">
        <a class="month-less"><span class="iconic arrow_left"></span></a>
        <span class="date-formatted">### date ###</span>
        <a class="month-more"><span class="iconic arrow_right"></span></a>
      </div>
    </div>

    <div class="content">
      <ul id="day-names">
        <li>Monday</li>
        <li>Tuesday</li>
        <li>Wednesday</li>
        <li>Thursday</li>
        <li>Friday</li>
        <li>Saturday</li>
        <li>Sunday</li>
      </ul>

      <ul id="days">
      </ul>
    </div> <!-- content -->
  </div><!-- panel -->

</div><!-- wrapper -->


<script type="text/template" id="template-day">
  <div class="header box">
    <div class="number">{{ day }}</div>
    <div class="icon"><a href="/admin/calendar/day/{{ date }}"><span class="iconic fullscreen"></span></a></div>
  </div>
  <div class="rails framed-box">
    <ul>
      <% Room.all.each do |room| %>
        <li class="rail" data-room-id="<%= room.id %>"></li>
      <% end %>
    </ul>
  </div>
</script>

<script type="text/template" id="template-performance">
  {{ title }}
</script>

