<html>
<head>
  <title>Schedule Manager</title>
  <link href="./reset.css" rel="stylesheet" type="text/css">
  <link href="./style.css" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="./js/libs/jquery.js"></script>
  <script type="text/javascript" src="./js/libs/jquery-ui.js"></script>
  <script type="text/javascript" src="./js/libs/sprintf.js"></script>

  <script type="text/javascript" src="./js/libs/underscore.js"></script>
  <script type="text/javascript" src="./js/libs/backbone.js"></script>

  <script type="text/javascript" src="./js/app/schedule/data1.js"></script>

  <script type="text/javascript" src="./js/app/schedule/Schedule.js"></script>

  <script type="text/javascript" src="./js/app/schedule/Card.js"></script>
  <script type="text/javascript" src="./js/app/schedule/CardView.js"></script>

  <script type="text/javascript" src="./js/app/schedule/Cards.js"></script>
  <script type="text/javascript" src="./js/app/schedule/CardsView.js"></script>

  <script type="text/javascript" src="./js/app/schedule/ScheduleLoad.js"></script>





</head>
<body>
  <div id="wrapper">
    <div id="toolbar">
      <div id="movie" class="box">
        <h1 class="title-1">Movie</h1>
        <div class="card card-actived" id="card-actual">
          <h2 class="title-2">No es país para viejos</h2>
        </div>
        <div id="fare">
          <input class="input-box" type="text" value="6,50" /> €
        </div>
      </div> <!-- movie -->

      <div id="session" class="box">
        <h1 class="title-1">Room 1</h1>
        <div id="schedule">
          <div id="minutes">+128 min</div>
          <div id="times">
            <input class="input-box" type="text" value="22:10" />
            <input class="input-box" type="text" value="24:40" />
          </div>
        </div>
      </div> <!-- session -->

      <div id="buttons">
        <input type="button" value="modify" />
        <input class="remove" type="button" value="remove" />
      </div>
    </div> <!-- toolbar -->

    <div id="panel">
      <div id="ruler-left" class="ruler">
        <ul class="time-ruler">
        </ul>
      </div>

      <div id="schedules">
        <div class="schedule" id="schedule-room-1" data-room="1">
          <h1 class="title-1">
            Room 1
          </h1>

          <div class="schedule-rail">
            <div class="schedule-grid">
              <ul>
              </ul>
            </div>

          </div>
        </div>

        <div class="schedule" id="schedule-room-2" data-room="2">
          <h1 class="title-1">
            Room 2
          </h1>

          <div class="schedule-rail">
            <div class="schedule-grid">
              <ul>
              </ul>
            </div>
          </div>
        </div>

        <div class="schedule" id="schedule-room-3" data-room="3">
          <h1 class="title-1">
            Room 3
          </h1>

          <div class="schedule-rail">
            <div class="schedule-grid">
              <ul>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="ruler-right" class="ruler">
      </div>
    </div>
  </div>

<script>

  function drawRulers(){
    var dateIni = "17:00";
    var dateEnd = "03:00";
    var dateActual = dateIni;

    while( dateActual >= dateIni || dateActual <= dateEnd ){
      var dateObj = new Date( Date.parse( "2012-07-20 " + dateActual,"MM/dd/yyyy HH:MM" ) );

      // Ruler li
      var newRulerLi = $("<li><span>" + dateActual + "</span></li>")
      if( dateObj.getMinutes() == 0 ) newRulerLi.addClass( "visible" );
      $("ul.time-ruler").append( newRulerLi );

      // Grid elements
      var newGridElement = $( "<li data-time=\"" + dateActual + "\"></li>" );
      $(".schedule-grid ul").append( newGridElement );


      var newDateObj  = new Date( dateObj.getTime() + 10 * 60000 );
      dateActual      = sprintf( "%02d:%02d", newDateObj.getHours(), newDateObj.getMinutes() );
    }
  }




  $(function() {

    $('.card').droppable({
      greedy: true,
      tolerance: 'touch',
      drop: function(event,ui){
        $(this).effect("highlight", {}, 1000);
        ui.draggable.draggable( "option", "revert", true );
      }
    });

    $('.schedule-grid li').droppable({
      tolerance: 'fit'
    });

  });

</script>


<script type="text/template" id="template-card">
  <div class="card box" id="card-<%= id %>">
    <div class="times">
      <div class="time time-ini"><%= time_ini %></div>
      <div class="time time-end"><%= time_end %></div>
    </div>

    <h2 class="title-2"><%= title %></h2>
  </div>
</script>



</body>
</html>
