<html>
<head>
  <title>Schedule Manager</title>
  <link href="./reset.css" rel="stylesheet" type="text/css">
  <link href="./style.css" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="./js/libs/jquery.js"></script>
  <script type="text/javascript" src="./js/libs/jquery-ui.js"></script>

  <script type="text/javascript" src="./js/libs/underscore.js"></script>
  <script type="text/javascript" src="./js/libs/backbone.js"></script>

  <script type="text/javascript" src="./js/app/data1.js"></script>

  <script type="text/javascript" src="./js/app/ScheduleApp.js"></script>

  <script type="text/javascript" src="./js/app/ScheduleCard.js"></script>
  <script type="text/javascript" src="./js/app/ScheduleCardView.js"></script>

  <script type="text/javascript" src="./js/app/ScheduleCards.js"></script>
  <script type="text/javascript" src="./js/app/ScheduleCardsView.js"></script>

  <script type="text/javascript" src="./js/app/ScheduleAppLoad.js"></script>





</head>
<body>
  <div id="wrapper">
    <div id="toolbar">
      <div id="movie" class="box">
        <h1 class="title-1">Movie</h1>
        <div class="card card-actived" id="card-actual">
          <h2 class="title-2">No es país para viejos</h2>
        </div>
        <div id="fare">
          <input class="input-box" type="text" value="6,50" /> €
        </div>
      </div> <!-- movie -->

      <div id="session" class="box">
        <h1 class="title-1">Room 1</h1>
        <div id="schedule">
          <div id="minutes">+128 min</div>
          <div id="times">
            <input class="input-box" type="text" value="22:10" />
            <input class="input-box" type="text" value="24:40" />
          </div>
        </div>
      </div> <!-- session -->

      <div id="buttons">
        <input type="button" value="modify" />
        <input class="remove" type="button" value="remove" />
      </div>
    </div> <!-- toolbar -->

    <div id="panel">
      <div id="ruler-left" class="ruler">
        <ul class="time-ruler">
          <li class="visible"><span>17:00</span></li>
          <li><span>17:10</span></li>
          <li><span>17:20</span></li>
          <li><span>17:30</span></li>
          <li><span>17:40</span></li>
          <li><span>17:50</span></li>

          <li class="visible"><span>18:00</span></li>
          <li><span>18:10</span></li>
          <li><span>18:20</span></li>
          <li><span>18:30</span></li>
          <li><span>18:40</span></li>
          <li><span>18:50</span></li>

          <li class="visible"><span>19:00</span></li>
          <li><span>19:10</span></li>
          <li><span>19:20</span></li>
          <li><span>19:30</span></li>
          <li><span>19:40</span></li>
          <li><span>19:50</span></li>
        </ul>
      </div>

      <div id="schedules">
        <div class="schedule" id="schedule-room-1">
          <h1 class="title-1">
            Room 1
          </h1>

          <div class="schedule-rail">
            <div class="schedule-grid">
              <ul>
                <li data-room="1" data-time="17:00"></li>
                <li data-room="1" data-time="17:10"></li>
                <li data-room="1" data-time="17:20"></li>
                <li data-room="1" data-time="17:30"></li>
                <li data-room="1" data-time="17:40"></li>
                <li data-room="1" data-time="17:50"></li>
              </ul>
            </div>

            <div class="card box" id="card-1">
              <div class="times">
                <div class="time time-ini">17:10</div>
                <div class="time time-end">19:20</div>
              </div>

              <h2 class="title-2">No es país para viejos</h2>
            </div>

            <div class="card box" id="card-2">
              <div class="times">
                <div class="time time-ini">17:10</div>
                <div class="time time-end">19:20</div>
              </div>

              <h2 class="title-2">No es país para viejos</h2>
            </div>

            <div class="card box" id="card-3">
              <div class="times">
                <div class="time time-ini">17:10</div>
                <div class="time time-end">19:20</div>
              </div>

              <h2 class="title-2">No es país para viejos</h2>
            </div>

          </div>
        </div>

        <div class="schedule" id="schedule-room-1">
          <h1 class="title-1">
            Room 2
          </h1>

          <div class="schedule-rail">
            <div class="schedule-grid">
              <ul>
                <li data-room="2" data-time="17:00"></li>
                <li data-room="2" data-time="17:10"></li>
                <li data-room="2" data-time="17:20"></li>
                <li data-room="2" data-time="17:30"></li>
                <li data-room="2" data-time="17:40"></li>
                <li data-room="2" data-time="17:50"></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="schedule" id="schedule-room-1">
          <h1 class="title-1">
            Room 3
          </h1>

          <div class="schedule-rail">
          </div>
        </div>
      </div>

      <div id="ruler-right" class="ruler">
      </div>
    </div>
  </div>

<script>
  $(function() {

    function revertConfiguration( droppableObj ){
      if( droppableObj === false ) {
        console.log( "reverted" );
        return true;
      } else {
        console.log( "droppen on", droppableObj );
        return false;
      }
    }

    $( ".card" ).draggable({
      snap: ".schedule-grid li",
      snapMode: "outter",
      zIndex: 1000,
      opacity: 0.75,

      collision: true,

      revert: revertConfiguration,

      stop: function(event, ui) {
        console.log( "---stop----" );
        console.log( "this", this );
        console.log( "event", event );
        console.log( "ui", ui );
        $(this).draggable( 'option', 'revert', revertConfiguration );
      }
    });


    $('.card').droppable({
      greedy: true,
      tolerance: 'touch',
      drop: function(event,ui){
        // console.log( "this", this );
        $(this).effect("highlight", {}, 1000);
        //.css( "backgroundColor": "red" );
        ui.draggable.draggable('option','revert',true);
      }
    });

    $('.schedule-grid li').droppable({
      tolerance: 'fit',
      drop: function(event, ui) {
        console.log( "---drop----" );
        console.log( "this", this );
        console.log( "event", event );
        console.log( "ui", ui );
      }
    });


    // $("#card-actual").draggable();
    // $(".schedule-rail").droppable({
    //   over: function(event, ui) {
    //     $("#card-actual").draggable({ grid: [20, 50] });
    //   },
    //   out: function(event, ui) {
    //     $("#card-actual").draggable("option", "grid", false);
    //   }
    // });
  });


</script>


<script type="text/template" id="template-card">
  <div class="card box" id="card-<%= id %>">
    <div class="times">
      <div class="time time-ini"><%= time_ini %></div>
      <div class="time time-end"><%= time_end %></div>
    </div>

    <h2 class="title-2"><%= title %></h2>
  </div>
</script>



</body>
</html>
