/*
  light-blue: #94D7F1;
  dark-blue: #007194;
  gray: #7a7a7a;
*/

#wrapper {
  width: 1104px;
  overflow: hidden;
}

#panel {
  width: 910px;
}

#movies-list{
  float: left;
  width: 170px;
}

#movies-list .results {
  padding: 10px;
}

#movies-list .results li {
  margin-bottom: 10px;
}

#movies-list .results li:last-child {
  margin-bottom: 0px;
}

#panel {
  float: left;
}

#panel #day-names > li,
#panel #days > li {
  box-sizing: border-box;
  float: left;
  width: 120px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#panel #days > li.empty {
  height: 20px;
  background-color:  #94D7F1;
}


#panel .rails {
  padding: 5px;
}

#panel .rail {
  border: 1px solid #94D7F1;
  box-sizing: border-box;
  margin-bottom: 5px;
  height: 12px;
  width: 100%;
}

#panel .rail:last-child {
  margin-bottom: 0px;
}