<% title "Rooms" %>
<% stylesheet "style_rooms" %>

<div id="wrapper" class="room-index">
  <div id="controls">
    <%= link_to "create new room", new_room_path, :class => "button" %>
  </div>

  <div id="rooms-index">
  </div>
</div>
