/*
  light-blue: #94D7F1;
  dark-blue: #007194;
  gray: #7a7a7a;
*/

@font-face {
  font-family: 'Haettenschweiler';
  src: url( '/assets/haettenschweiler.ttf' );
}

body {
  font-family: "Haettenschweiler";
  font-size: 20px;
  padding: 20px;
}

.button {
  text-decoration: none;
  background-color: #007194;
  color: white;
  border: none;
  font-family: "Haettenschweiler";
  font-size: 20px;
  padding: 3px 10px 5px 10px;
}

.button:hover {
  color: #94D7F1;
}

.button:active {
  position: relative;
  top: 1px;
}

.font-narrow {
  font-family: "Arial Narrow";
  font-size: 16px;
}

#wrapper {
  width: 987px;
  margin: 0 auto;
}

#search-box {
  width: 190px;
  float: left;
}

#search-box .results {
  padding: 10px;
}

#search-box .results li {
  /*border: 1px solid red;*/
  margin-bottom: 10px;
}

#search-box .results li:last-child {
  margin-bottom: 0px;
}


#selected-box {
  width: 190px;
  float: left;
}

#selected-box #buttons {
  text-align: right;
}

#selected-box .info{
  padding: 10px;
}

#selected-box .info .box {
  margin-bottom: 10px;
}

#selected-box #fare span{
}

#panel {
  float: left;
  margin-left: 20px;
}

#wrapper.week #panel > .header {
  margin-left: 56px;
  margin-right: 70px;
}

#panel > .header {
  overflow: hidden;
  color: #007194;
  margin-bottom: 10px;
}

#panel > .header a {
  color: #007194;
  text-decoration: none;
}

#panel > .header .date {
  float: left;
}

#panel > .header .controls {
  float: right;
}

#movie {
  margin-bottom: 10px;
}

#session #schedule #minutes {
  margin-left: 50px;
}


.schedule {
  float: left;
  margin-right: 10px;
  width: 108px;
}

.schedule:last-child {
  border: 1px solid red;
  margin-right: 0px;
}

.schedule .schedule-rail{
  /*position: relative;*/
  padding: 2px;
  height: 650px;
}

.schedule h1{
  background-color: #94D7F1;
  padding: 5px;
}

.box {
  box-sizing: border-box;
  padding: 10px;
  background-color: #94D7F1;
  color: #007194;
}

.framed-box {
  border: 2px solid #94D7F1;
}

.input-box {
  width: 50px;
  text-align: right;
  font-family: "Haettenschweiler";
  font-size: 20px;
  background-color: white;
  color: #007194;
  padding: 3px;
  border: 0;
}

.input-box.big {
  text-align: left;
  width: 168px;
}

.title-1 {
  color: #007194;
  font-size: 22px;
}

.card {
  /*border: 1px solid red;*/
  box-sizing: border-box;
  width: 100px;
  height: 130px;
  padding: 10px;
  /*position: absolute;*/
  overflow: hidden;
}

.card.selected {
  background-color: #007194;
  color: white;
}

.card .times .time{
  background-color: white;
  color: #007194;
  width: 35px;
  float: left;
}

.card .times .time:last-child {
  margin-left: 5px;
}

.ruler {
  margin-top: 50px;
  float: left;
  width: 50px;
  font-size: 14px;
  color: #7a7a7a;
}

#ruler-left {
  margin-right: 5px;
}

#ruler-right {
 margin-right: 10px;
}

.ruler li {
  height: 17px;
  margin-bottom: -7px;

  background-image: url( "/assets/ruler.png" );
  background-repeat: no-repeat;
}

#ruler-right li {
  -webkit-transform:scaleX(-1);
  transform:scaleX(-1);
}

#ruler-right li span{
  padding-left: 22px;
  transform:scaleX(-1);
  -webkit-transform:scaleX(-1);
}

.ruler li span {
  display: none;
}

.ruler li.visible span {
  display: block;
}

.ruler li {
  background-position: right -13px;
}

.ruler li:nth-child(6n+1) {
  background-position: right 7px;
}

.ruler li:nth-child(6n+4) {
  background-position: right -3px;
}

#schedules {
  float: left;
  position: relative;
  overflow: hidden;
}

.schedule .schedule-grid {
  overflow: hidden;

  height: 650px;

  margin-top: 21px;
}

.schedule .schedule-grid li{
  /*height: 1px;
  margin-bottom: 6px;*/
  height: 2000px;
  margin-bottom: -1991px;
  border-top: 1px solid #94D7F1;
  width: 100px;
}