<% javascript 'calendar_month' %>
<% stylesheet 'style_month' %>

<div id="wrapper" class="month">
  <div id="performances-list">
    <div class="header box">
      <h1 class="title-1">Movies</h1>
    </div>
    <div class="results framed-box">
      <ul>
      </ul>
    </div>
  </div> <!-- performances-list -->

  <div id="panel">
    <div class="header">
      <a href="#montless"><span class="iconic arrow_left"></span></a>
      April of 2012
      <a href="#monthmore"><span class="iconic arrow_right"></span></a>
    </div>

    <div class="content">
      <ul id="day-names">
        <li>Monday</li>
        <li>Tuesday</li>
        <li>Wednesday</li>
        <li>Thursday</li>
        <li>Friday</li>
        <li>Saturday</li>
        <li>Sunday</li>
      </ul>

      <ul id="days">
      </ul>
    </div> <!-- content -->
  </div><!-- panel -->

</div><!-- wrapper -->


<script type="text/template" id="template-day">
  <div class="header box">
    <div class="number">{{ day }}</div>
    <div class="icon"><a href="schedule.html"><span class="iconic fullscreen"></span></a></div>
  </div>
  <div class="rails framed-box">
    <ul>
      <li class="rail" data-room="1"></li>
      <li class="rail" data-room="2"></li>
      <li class="rail" data-room="3"></li>
      <li class="rail" data-room="4"></li>
    </ul>
  </div>
</script>

<script type="text/template" id="template-performance">
  {{ title }}
</script>

