#room-map {
  padding: 5px;
  background-color: white;
  border: 2px solid #94D7F1;
  overflow: hidden;
}

#room-map .room-screen {
  text-align: center;
  background-color: #007194;
  color: white;
  border: none;
  font-size: 20px;
  padding: 3px 10px 5px 10px;
  margin-bottom: 30px;
}

#room-map .room-seats-row {
  overflow: hidden;
}

#room-map .room-seat {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: 1px solid #94D7F1;
  float: left;
}

#room-map .room-seat.selected span {
  font-family: 'wpzoom';
  font-style: normal;
  color: black;
  font-size: 22px;
  padding: 2px;
}

#room-form .box {
  width: 210px;
overflow: hidden;
margin-bottom: 10px;
}

