/*
  light-blue: #94D7F1;
  dark-blue: #007194;
  gray: #7a7a7a;
*/

#wrapper {
  width: 1200px;
  overflow: hidden;
}

#panel {
  width: 910px;
}

#performances-list{
  float: left;
  width: 260px;
}

#performances-list .results {
  padding: 10px;
}

#performances-list .results li {
  margin-bottom: 10px;
}

#performances-list .results li.selected {
  color: white;
  background-color: #007194;
}

#performances-list .results li:last-child {
  margin-bottom: 0px;
}

#panel {
  float: left;
}

#panel #day-names > li {
  color: #7a7a7a;
}

#panel #day-names > li,
#panel #days > li {
  box-sizing: border-box;
  float: left;
  width: 114px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#panel #days > li.empty {
  height: 20px;
  background-color:  #94D7F1;
}

#panel #days > li .header {
  overflow: hidden;
}

#panel #days > li .header .number{
  float: left;
}

#panel #days > li .header .icon{
  font-size: 19px;
  display: none;
  float: right;
}

#panel #days > li:hover .header a {
  color: white;
}

#panel #days > li:hover .header .icon{
  display: block;
}

#panel #days > li:hover .header {
  color: white;
  background-color:  #007194;
}

#panel #days > li:hover .rails {
  border-color: #007194;
}


#panel .rails {
  padding: 5px;
}

#panel .rail {
  position: relative;
  border: 1px solid #94D7F1;
  box-sizing: border-box;
  margin-bottom: 5px;
  height: 12px;
  width: 100px;
}

#panel .rail:last-child {
  margin-bottom: 0px;
}

#panel .rail .card-showing {
  position: absolute;
  top: 1px;
  height: 8px;
  background-color: #94D7F1;
}

#panel .rail .card-showing.selected {
  position: absolute;
  top: 1px;
  height: 8px;
  background-color: #007194;
}