
.column-left{
  width: 170px;
  float: left;
}

.column-center{
  margin-left: 10px;
  width: 476px;
  float: left;
}

#poster-drop {
  margin-top: 10px;
  padding-top: 20px;
  text-align: center;
  height: 182px;
}

#performance-form .box {
  overflow: hidden;
  margin-bottom: 10px;
}

#performance-form p {
  overflow: hidden;
  margin-bottom: 5px;
}

#performance-form .textarea-box {
  margin-top: 5px;
  width: 450px;
  height: 150px;
}

#performance-title-results {
  display: none;
}



.result .director {
  font-style: italic
}


#performances-index{
  width: 470px;
}

#controls {
  padding: 10px;
  text-align: right;
}